<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BattleGrid</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark box-shadow" role="navigation" >
        @Html.ActionLink("Battle Grid", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li>@Html.ActionLink("Домашняя страница", "Index", "Home", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Блог", "Index", "Blog", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Информация", "About", "Home", null, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Связаться", "Contact", "Home", null, new { @class = "nav-link" })</li>
            </ul>
            <span class="navbar-text">
                @Html.Partial("_LoginPartial")
            </span>
        </div>
    </nav>
<main role="main">
    @RenderBody()
</main>
    <hr/>
<footer class="text-muted">
    <div class="container">
        <p>&copy; @DateTime.Now.Year - BattleGrid.ru</p>
    </div>
</footer>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
